<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/form.css">
    <title>Вход</title>
</head>
<body>
    <div class="login-container">
        <h1 class="title">Вход в аккаунт</h1>
        <form class="login-form" id="login-form">
            <input type="email" id="login-email" placeholder="Email" required>
            <input type="password" id="login-password" placeholder="Пароль" required>
            <button type="submit" class="btn-login">Войти</button>
        </form>
        <p class="register-link">Нет аккаунта? <a href="./sign_up.html">Зарегистрироваться</a></p>
    </div>

    <script src="../app.js"></script>
</body>
</html>